@model Rollout.Data.EntityModels.WorkStations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutProjectManager.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WorkStations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serialnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serialnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmissionsReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmissionsReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticketnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticketnumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkStationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
